.trending-page {
  max-width: 1200px;
  margin: 62px auto 0;
  display: flex;
  flex-direction: column;
  

  @media screen and(max-width: 990px) {
    
    margin: 58px 20px 50px
  }

  @media screen and(max-width: 590px) {
    
    margin: 58px 8px 50px;
  }

  .main {
    
    display: flex;
    flex-direction: column;
  }

  .right-side {
    position: relative;
    width: 100%;
    margin: 0px 0 0 14px;
  
    .right-side-container {
      position: fixed;
      width: 35%;
  
      @media screen and(min-width: 1200px) {
        width: 404px;
      }
  
    }
  }
} 