.left-nav-container {
  display: flex;

    @media screen and(max-width: 590px) {
      margin: 2px 0 0 -9px;
    }

    .icons {
      display: flex;
      font-size: 2.5rem;
      color: black;
      align-items: center;
      .ico{
        color: $color-3;
      }
      .fav{
        color: $color-1;
      }
      a {
        transition: 0.2s;
        display: flex;
        padding: 0 10px 5px 10px;
        transition: .15s ease;
          transform: scale(0.9);
          border-radius: 50px;
        

        &:hover {
          transform: scale(1);
        }
        &:hover::before {
          transform: scale(1);
          @media screen and(max-width: 590px) {
            background: $color-1;
            height: 34px;
            width: 34px;
          }
        }

        img {
          @media screen and(max-width: 590px) {
            height: 34px;
            width: 34px;
          }
        }
      }

      .active-left-nav {
        border-top: 5px solid $color-1;

          @keyframes scale {
            to {
              transform: scaleY(1);
            }
          }
          @media screen and(max-width: 590px) {
            height: 33px;
            left: -8px;
          }
        }
      
    }
  
}
