nav {
  position: fixed;
  width: 100%;
  height: 45px;
  border-radius: 6px;

  z-index: 10;
  top: 0;

  &::after {
    content: "";
    height: 45px;
    width: 110%;
    left: -20px;
    top: 0;
    position: absolute;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.86);
    z-index: -8;
    border-bottom: #fd2c00 5px solid;
  }

  .nav-container {
    display: flex;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding: 5px;

    .logo {
      display: flex;
      align-items: center;

      h1 {
        transform: translate(15px, 2px);
        font-size: 2rem;
        font-family: $font-3;
      }
      img {
        height: 35px;
        width: 35px;
        display: flex;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      justify-content: flex-end;
      font-size: 1.2rem;

      .welcome {
        @media screen and(max-width: 590px) {
          display: none;
        }

        p {
          font-family: $font-3;
          line-height: initial;
            padding: 2px 0 0 0;
        }
      }

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 20px;

        .navlink {
          text-decoration: none;
          margin: 5px;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Outfit", sans-serif;
          color: white;
          padding: 0 5px 0 0;
          border: 0;
          background-color: $color-3;
          border-radius: 15px;
          transition: all 250ms ease-in-out;
          cursor: pointer;
        }
        .navlink-logout {
          padding: 2px;
          border: none;
        }
        img {
          width: 35px;
          max-width: 35px;
          height: 35px;
          max-height: 35px;
          margin: 0 5px 0 0;
          border-radius: 50px;
          object-fit: cover;
          border: $color-3 2px solid;
        }
      }
      
    }
    
  }
}
